<div class="row">
	<ul class="list-group">
		<li class="list-group-item text-center">
			<div class="container-fluid">
			<%= image_tag avatar_for(user, 300), :class => "img-responsive profile-image" %>
			<% if user === current_user %>
				<strong class="caption"><small><%= link_to("Change Gravatar","http://www.gravatar.com") %></small></strong>
			<% end %>
			</div>
	    </li>
	    <li class="list-group-item">
	    	<span><strong>Books in Library:</strong> <%= user.library_size %></strong></span>
	    </li>
	    <li class="list-group-item">
	    	<span><strong>Books on Loan:</strong> <%= user.number_of_loans %></strong></span>
	    </li>
	    <% if current_user == user %>
	    <li class="list-group-item">
	    	<%= render "user_books/form" %>
	    </li>
	    <% end %>
    </ul>
</div>