<div class="container col-md-4 col-sm-6 col-xs-12">
	<ul class="list-group">
		<li class="list-group-item">
			<h3 class="panel-title"><%= user.display_name %></h3>
		</li>
		<li class="list-group-item text-center" >
			<%= image_tag avatar_for(user), :class => "profile-image" %>
			<% if user === current_user %>
				<strong class="caption"><small><%= link_to("Change Gravatar","http://www.gravatar.com") %></small></strong>
			<% end %>
	    </li>
	    <li class="list-group-item">
	    	<span><strong>Books in Library:</strong> <%= user.library_size %></strong></span>
	    </li>
	    <li class="list-group-item">
	    	<span><strong>Books on Loan:</strong> <%= user.number_of_loans %></strong></span>
	    </li>
    </ul>
</div>