<h2><%= @user.display_name %></h3>
<div class="container col-xs-12">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<%= render :partial => "profile", :locals => {:user => @user} %>
		</div>

		<div class="col-md-8 col-sm-6 col-xs-12 col-lg-9">
    <h3><%= link_to "Borrows", user_borrows_path(@user) %></h3>
    <%= render :partial => "borrows", :locals => {:borrows => @active_borrows } %>
    <%= render :partial => "books", :locals => {:user => @user, :books => @user.library} %>
	 	</div>

	 </div>
</div>



<!-- <h2>My Library</h2>

<#%= image_tag avatar_for(@user) %>

<#%= render "user_books/form" %> 
<br> 
<table class = "table table-responsive table-condensed table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Image</th>
    <th>Status</th>
    <th></th>
  </tr>

<#%= render @user_books %>
</table>

<#%= paginate @user_books %>
 -->
