<div class="form-group">
        
        <%= form_tag create_borrow_path, method: :post, class: "form-inline"  do %>

        <%= label_tag("Book Name") %>
         <%= text_field_tag :query, params[:name], class: "form-control max-width-80", placeholder: "Search by title, etc", id: 'wbooksearch'%>
        <br>
        <%= label_tag("Borrower's Name") %>
         <%= text_field_tag :borrower_name, params[:borrower_name], class: "form-control max-width-80", placeholder: "Borrower's Name"%>
        <br>
         <%= label_tag("Borrower's Email") %>
         <%= text_field_tag :borrower_name, params[:borrower_email], class: "form-control max-width-80", placeholder: "Borrower's Email"%>
        <br>
         <%= label_tag("Due date") %>
         <%= date_field_tag :due_date, params[:due_date], class: "form-control max-width-80", placeholder: "14" %>
        <br>
        <br>
        <br>
        <br>
        <input id="bookISBN" name="user_book[:from_isbn]" type="hidden"/>
        
        <%= submit_tag "Submit", class: "btn btn-primary"  %>

        <% end %>
        <br>
        <p><i>*We promise to only email them once.</i></p>
      </div>
    </div >
    
    <!-- Partial for book query -->
    <div id="bookquery" class="col-md-8"></div>