<div class="container content-center">
  <div class="row">
    <h2>Step 1: Select a Book</h2>
    <div class="border-form-div col-md-3">
          <%= form_tag create_borrow_path, method: :post, class: "form-inline"  do %>

           <div class="form-group">
          <%= label_tag(:book_title, "Search for your book.") %>
          <%= text_field_tag :book_title, nil, class: "form-control max-width-80", placeholder: "Catch 22", id: 'wbooksearch'%>
        </div>
        <div class="form-group">
          <%= label_tag(:borrower_name, "Who are you loaning it to?") %>
          <%= text_field_tag :borrower_name, nil, class: "form-control max-width-80", placeholder: "Bill Clinton"%>
        </div>
        <div class="form-group">
          <%= label_tag(:borrower_email, "What's their email?") %>
          <%= text_field_tag :borrower_email, nil, class: "form-control max-width-80", placeholder: "bill@usprez.net"%>
        </div>
        <div class="form-group">
          <%= label_tag(:due_date, "When do you want it back?") %>
          <%= date_field_tag :due_date, nil, class: "form-control max-width-80" %>
        </div>
        <br><br>
        <div class="form-group">
        <%= hidden_field_tag("user_book[from_isbn]", nil, :id => :bookISBN)%>
        <%= hidden_field_tag("img", nil, :id => :imgISBN)%>
        <%= submit_tag "Submit", class: "btn btn-primary"  %>
        </div>

         <% end %>

    </div >
    <!-- Partial for book query -->
    <div id="bookquery-container" class="col-md-6 panel panel-default">
      <h2>Share books <em>and</em> get them back.</h2>
      <h4>Keep track of who's borrowing your books with BookBorrow.</h4>
      <div id="bookquery">
      </div>
    </div>
  </div>
</div>

  </div>
</div>
