<h2>UserBook Library</h2>
<% values = {
"title"=>"Title",
"description"=>"Description",
"isbn"=>"ISBN Title",
"author"=>"Author",
"cover_url"=>"Cover URL",
"created_at"=>"Added At",
"updated_at"=>"Last Updated"
} %>
<table class = "table table-responsive table-condensed table-striped">
  <tr>
    <% values.each do |key, value| %>
    <th><%= value %></th>
    <% end %>
    <% if user_signed_in? %>
    <th>Add This Book To Your Library</th>
    <% end %>
  </tr>
  <% @books.each do |book|%>
  <tr class="<%= cycle('oddrow', 'evenrow') -%>">
    <% values.each do |key, value| -%>
      <% if key == "cover_url" %>
      <td><%= image_tag(book.send(key), class: "img-rounded") %></td>    
      <% elsif key == "description" %>
      <td><%= truncate(book.send(key), length:250, separator: ' ', omission: '... (continued)') %></td>
      <% else %>
      <td><%= book.send(key)%> </td>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
    <td><%= link_to 'Add Book', user_user_books_path(current_user, :user_book =>{:from_isbn=> book.isbn}),method: :create %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= paginate @books %>
