<div class="container">
  <div class="row">
    <h2>The BookBorrow Database</h2>
    <%= render "form" %>
  </div>
</div>
<br>
<ul class="list-group container">
  <% @books.each do |book|%>
  <li class="list-group-item container">
    <div class="row center-block">
      <div class="col-sm-12 col-md-2">
        <p><%= image_tag(book.cover_url) %></p>
      </div>
      <div class="col-md-9 col-sm-10">
        <div class="row center-block">

          <h3><%= truncate(book.title, length:100, separator: " ", omission: "...") %>
          <small><%= link_to book.author, :controller => "books", :query => book.author %></small>
          </h3>
          <%= render :partial => "add_button", :locals => {:book => book } %>
          <br>
          <p class="text-muted">

          <% if book.description %>  
          <strong>Description</strong><br />
          <td><%= truncate(book.description, length:250, separator: " ", omission: "...") %></td>
          <% end %>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<%= paginate @books %>