<h2>Global Library</h2>

<%= render "form" %>
<br>
<table class = "table table-responsive table-condensed table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Cover</th>
    <th>Added At</th>
    <th>Last Updated</th>
    <% if user_signed_in? %>
    <th>Add to Library</th>
    <% end %>
  </tr>

  <% @books.each do |book|%>
  <tr class="">
      <td><%= link_to book.title, book %></td>      
      <td><%= truncate(book.description, length:250, separator: ' ', omission: '...') %></td>          
      <td><%= book.isbn %></td>          
      <td><%= link_to book.author, :controller => "books", :query => book.author %></td>          
      <td><%= link_to image_tag(book.cover_url, class: "img-rounded"), book %></td>          
      <td><%= book.created_at.strftime("%a\, %B \'%d") %></td>          
      <td><%= book.updated_at.strftime("%a\, %B \'%d") %></td>          

    <% if user_signed_in? %>
    <td><%= link_to 'Add Book', user_user_books_path(current_user, :user_book =>{:from_isbn=> book.isbn}),method: :create %></td>
    <% end %>
  </tr>
  <% end %>

</table>
<%= paginate @books %>
