
<%= render :partial => "add_button", :locals => {:book => @book } %>

<h3><%= @book.title %></h3>
<p><%= image_tag(@book.cover_url, class: "img-rounded") %>
<p><%= @book.isbn %>
<p><%= link_to @book.author, :controller => "books", :query => @book.author %> 
<p><%= @book.description %> 
<p><%= @book.categories %> 
<p><%= @book.average_rating %> 
<p><%= @book.ratings_count %> 
<p><%= @book.page_count %> 

