<%= form_for [@user_book, @borrow], :remote => true do |f| %>
  <input type="hidden" name="borrow[borrow_date]" value="<%= Date.today %>">

  <div class="form-group">
    <%= label_tag "borrow_due_date" %>
    <%= date_field_tag "borrow[due_date]", nil, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :borrower_name %>
    <%= f.text_field :borrower_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :borrower_email %>
    <%= f.text_field :borrower_email, :class => "form-control max-width-80" %>
  </div>

  <%= f.submit "Loan", :type => "hidden", :class => "btn btn-primary" %>
<% end %>
