<tr id="borrow_<%= borrow.id %>">
  <td><img src="<%= borrow.user_book.book.cover_url %>" style="width:74px;height:98px"></td>
  <td><%= borrow.borrow_date.strftime("%B %d, %Y") %></td>

  <% if borrow.overdue? %>
    <td style="color:red"><%= borrow.due_date.strftime("%B %d, %Y") %></td>
  <% else %>
    <td><%= borrow.due_date.strftime("%B %d, %Y") %></td>
  <% end %>

  <td><%= borrow.borrower_email %></td>
  <td>
    <%= form_for [borrow.user, borrow], remote: true do |f| %>
      <%= f.check_box :returned %>
    <% end %>
  </td>
  <td>
    <% if borrow.overdue? %>
      <%= link_to remind_user_borrow_path(borrow.user_book, borrow), 
        :data => {:confirm => "Send #{borrow.borrower_email} a message?"},  
        :class => "big-glyphicon",
        :method => :post do %>
        <span class="glyphicon glyphicon-envelope"></span>
      <% end %>
    <% end %>
    <br>
    <a data-confirm="Are you sure?" data-method="delete", class="big-glyphicon", 
      href="<%= user_borrow_path(borrow.user, borrow) %>">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </td>
</tr>
