<div class="border-form-div">
<%= form_for [@user_book, @borrow] do |f| %>

  <%= f.label :borrow_date %>
  <%= f.date_select :borrow_date %>

  <%= f.label :duration_in_days %>
  <%= f.number_field :duration_in_days %>

  <%= f.label :borrower_email %>
  <%= f.text_field :borrower_email %>

  <%= f.submit %>
<% end %>
</div>
