<% values = {
"title"=>"Title",
"description"=>"Description",
"isbn"=>"ISBN Title",
"author"=>"Author",
"cover_url"=>"Cover URL",
"created_at"=>"Added At",
"updated_at"=>"Last Updated"
} %>
<table class = "table table-responsive table-condensed table-striped">
  <tr>
    <% values.each do |key, value| %>
    <th><%= value %></th>
    <% end %>
    <th>Loaned To</th>
    <th>Remove Book</th>
  </tr>
  <% @library.each do |user_book|%>
  <tr class="<%= cycle('oddrow', 'evenrow') -%>">
    <% values.each do |key, value| -%>
    <% if key == "cover_url" %>
    <td><%= image_tag(user_book.book.send(key), class: "img-rounded") %></td>
    <% elsif key == "description" %>
    <td><%= truncate(user_book.book.send(key), length:250, separator: ' ', omission: '... (continued)') %></td>
    <% else %>
    <td><%= user_book.book.send(key)%> </td>
    <% end %>
    <% end %>
    <td><%= user_book.borrower %></td>
    <td><%= link_to 'Destroy', user_book_path(user_book), method: :delete %></td>
  </tr>
  <% end %>
</table>
<%= paginate @library %>