
<table class = "table table-responsive table-condensed table-striped">

  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Cover</th>
    <th>Added At</th>
    <th>Last Updated</th>
    <th>Loaned To</th>
    <th>Remove Book</th>
  </tr>

  <% @library.each do |user_book|%>

  <tr class="">
      <td><%= link_to user_book.book.title, user_book.book %></td>      
      <td><%= truncate(user_book.book.description, length:250, separator: ' ', omission: '... (continued)') %></td>          
      <td><%= user_book.book.isbn %></td>          
      <td><%= link_to user_book.book.author, :controller => "books", :query => user_book.book.author %></td>          
      <td><%= link_to image_tag(user_book.book.cover_url, class: "img-rounded"), user_book.book %></td>          
      <td><%= user_book.book.created_at.strftime("%a\, %B \'%d") %></td>          
      <td><%= user_book.book.updated_at.strftime("%a\, %B \'%d") %></td>          
      <td><%= user_book.borrower %></td>
      <td><%= link_to 'Destroy', user_book_path(user_book), method: :delete %></td>
  </tr>
  <% end %>


</table>
<%= paginate @library %>